body {
	background-image: url(Imagenes/fondoazul2.jpg);
	font-family: Montserrat, sans-serif;

	
}	
#contenedor {
 width: 960px;
 height: 700px;
 margin-left:auto;
 margin-right:auto;
}
header{
   width: 960px;
   height: 156px;
   background-color:#000;
   margin-top:20px;
   margin-bottom:20px;   
   border:double 2px #14e0e0;
-moz-border-radius: 8px;
-webkit-border-radius: 8px;
border-radius: 8px;
-moz-box-shadow: 2px 13px 34px #14e0e0;
-webkit-box-shadow: 2px 13px 34px #14e0e0;
box-shadow: 2px 13px 50px #14e0e0;
}


#marca3 {
	width:760px;
	height:155px;
	float:left;
	background-color:#000;
}
#menu3{
	width:200px;
	height:155px;
	background-color:#000;
	float:right;
	margin:0;
    padding:0;
    list-style-type: none;
	
}

.navegacion{
	width:960px;
	margin-top:160px;
	margin-bottom:20px;
	background-color:#000;
	border:groove 3px  #14e0e0;
-moz-border-radius: 56px;
-webkit-border-radius: 56px;
border-radius: 56px;
}

.navegacion ul{
	list-style-type:none;
	margin:0;
	padding:0;
	
}

.menu li{
	position:relative;
	display:inline-block;

	
}

.menu li a{
	display: block;
	padding:15px 20px;
	color:#fff;
	font-family:Sans-serif, Arial;

}

.menu li a:hover{
	background-color:#0373a3;
	border:dashed 3px #14e0e0;
-moz-border-radius: 24px;
-webkit-border-radius: 24px;
border-radius: 24px;
}

.submenu{
	position:absolute;
	background-color:#000;
	width:100%;
	display:none;
	border:groove 3px  #14e0e0;
-moz-border-radius: 24px;
-webkit-border-radius: 24px;
border-radius: 24x;
}
.submenu li a{
	display:block;
	
	padding:15px;
	color:#fff;
	font-family: Sans-serif, Arial;
	text-decoration:none;
	
}
.menu li:hover .submenu{
	display:block;
	
	background-color:#000;

	

}




#contenido{
	width:640px;
	height:500px;
	margin-bottom:20px;
	margin-top:40px;
	float:left;
	background-color:#000;
	color:#fff;
	background-image: url(Imagenes/fondocontenidophp4.jpg);
	background-size:500px 574px;
    font-weight:600;
	letter-spacing:0px;
	word-spacing:0px;
	border:double 2px #14e0e0;
-moz-border-radius: 8px;
-webkit-border-radius: 8px;
border-radius: 8px;
}

h1{
	text-align:center;
	text-decoration:underline overline;
	font-size:large;
}

h2{
	text-decoration:underline;
	font-size:large;
}
p{
	text-indent:10px;
}



#columnas {
	margin-top:40px;
	width: 300px;
	height: 500px;
	background-color:#ccc;
	float:right;
	border:double 2px #14e0e0;
-moz-border-radius: 8px;
-webkit-border-radius: 8px;
border-radius: 8px;
} 

#foto {
	width: 150px;
	height: 150px;
	background-color:#db6f16;
	float:left;

} 


#menu2{
	width: 150px;
	height: 150px;
	background-image: url(Imagenes/phplogo3.jpg);
	background-size: 150px 150px;	
	float:right;
}
#texto{
	width: 300px;
	height: 350px;
	background-color:#fff;
	float:right;
	color:#fff;
	background-image: url(Imagenes/fondocolum2.jpg);
	background-size:300px 580px;
	margin-right:auto;
	margin-left:auto;
	font-weight:600;
	letter-spacing:0px;
	word-spacing:0px;
}

footer {
	width: 960px;
	height: auto;
	background:#000;
    float:left;
	clear: left;
	padding-left: 13px;
	border:double 2px #14e0e0;
-moz-border-radius: 8px;
-webkit-border-radius: 8px;
border-radius: 8px;

}
#footer1 p {
	font-family: Indie Flower, cursive;
	font-size: 16px;
	color: #fff;
	font-weight: bold; 
}
#footer1 p a {
	color: #fff; 
}

@media handheld, screen and (min-width:600px) and (max-width:1023px){
body {
	width:100%;

	
}	
#contenedor {
 width: 600px;
 height: auto;
}

header{
   width: 580px;
   height: 200px;
   margin-top:20px;
   margin-bottom:20px;   

}


#marca3 {
	width:480px;
	height:200px;
	float:left;
	background-color:#000;
}

#menu3{
	width:100px;
	height:200px;
	background-color:#000;
	float:right;
	margin:0;
    padding:0;
    list-style-type: none;
	
}
.navegacion{
	width:571px;
	margin-top:208px;
	margin-bottom:20px;

}


#contenido{
	width:580px;
	height:auto;
	margin-bottom:10px;
	margin-top:45px;
	float:left;
	background-color:#000;
	color:#fff;
	background-image: url(Imagenes/fondocontenidophp4.jpg);
	background-size:600px 530px;

}

#columnas {
	margin-top:1px;
	width: 300px;
	height: 500px;
	background-color:#ccc;
	float:left;
	
} 

#foto {
	width: 150px;
	height: 150px;
	background-color:#db6f16;
	float:left;

} 


#menu2{
	width: 150px;
	height: 150px;
	background-image: url(Imagenes/phplogo3.jpg);
	background-size: 150px 150px;	
	float:left;
}
#texto{
	width: 300px;
	height: 350px;
	background-color:#fff;
	float:left;
	color:#fff;
	background-image: url(Imagenes/fondocolum2.jpg);
	background-size:300px 580px;
	margin-right:auto;
	margin-left:auto;
	font-weight:600;
	letter-spacing:0px;
	word-spacing:0px;
}

footer {
	width: 570px;
	height: auto;
	background:#000;
    float:left;
	clear: left;
	padding-left: 13px;
    margin-top:5px ;

}
}
@media screen and (max-width:599px){
body {
	width:100%;

	
}	
#contenedor {
 width: 100%;
 height: auto;

}
header{
   width: 80%;
   height:200px;
   background-color:#000;
   margin-top:20px;
   margin-bottom:20px;   
 
}


#marca3 {
	width:100%;
	height:100px;
	float:left;
	background-color:#000;
}
#menu3{
	width:100%;
	height:100px;
	background-color:#000;
	float:right;

	
}

.navegacion{
	width:100%;
	margin-top:200px;
	margin-bottom:20px;
	

}



.menu li{
	position:relative;
	display:table;

	
}

.menu li a{
	display: inline-block;
}

.submenu li a{
	display:inline-block;
	
}
.menu li:hover .submenu{
	display:inline-block;

}




#contenido{
	width:80%;
	height:auto;
	margin-bottom:20px;
	margin-top:150px;
}

#columnas {
	margin-top:0px;
	width: 300px;
	height: 500px;
	background-color:#ccc;
	float:left;
	
} 

#foto {
	width: 150px;
	height: 150px;
	background-color:#db6f16;
	float:left;

} 


#menu2{
	width: 150px;
	height: 150px;
	background-image: url(Imagenes/phplogo3.jpg);
	background-size: 150px 150px;	
	float:right;
}
#texto{
	width: 300px;
	height: 350px;
	background-color:#fff;
	float:right;
	color:#fff;
	background-image: url(Imagenes/fondocolum2.jpg);
	background-size:300px 580px;

}

footer {
	width: 78%;
	height: auto;
	background:#000;
    float:left;
	clear: left;


}


}